*{
  margin: 0;
  padding: 0;
  max-width: 100vw;
}

.Components-main {
  text-align: center;
}

.Components-div{
  /* border-right: 1px solid white; */
  width: 500px;
  height: 100vh;

}
.Components-subdiv-cat{
  text-align: left;
  height: 55vh;
  width: 100%;
padding: 50xp 0px; 

}

.Components-subdiv-spacer{
padding-bottom:15px ;

}
.text-characteristics{
  margin-top: 15px;
  margin-left: 25px;
  font-size: 20px;
  font-weight: 400;
}

a{
  margin-top: 25px;
  font-style: none;
  text-decoration: none;
  display: flex;
}

.fa{
  margin-left: 25px;
  align-self: center;
  color: #b3b3b3;
  transition: color .3s;

}

.Components-subdiv-cat a {
  margin-bottom: 25px;
}
.Components-subdiv-text{
  margin-left: 20px;
  font-size: larger;
  font-weight: 500;
  color: #b3b3b3;
  transition: color .3s;

}
.hover:hover > i {
  color: white;
  text-shadow: 0 0 0.1em rgba(51, 51, 51, 0.5), 0 0 0.15em ;
}

.hover:hover > p {
  color: white;
  
}

.Components-subdiv-objects{
  margin-top: 25px;
  text-align: left;

}
.Components-subdiv-objects-text{
  margin-left: 50px;
  margin-top: 10px;
  font-size: medium;
  font-weight: 500;
  color: #b3b3b3;
}
