
/*--------------------------------------------Classes que Manipulam o contexto do Navbar.js de forma geral-------------*/

.Navbar-main {
  text-align: center;
  min-width: -webkit-fill-available;
}

.sections-spliter{
  height: -webkit-fill-available;
}


/*--------------------------------------------Classes que Manipulam o Lado esquerdo da divisão da tela (Na Resolução acima de um tablet)-------------*/

.Navbar-div{
  /* border-right: 1px solid white; */
  background-color: #000000;
display: block;
}
.Navbar-subdiv-cat{
  text-align: left;
  width: 100%;
padding: 50xp 0px; 

}

.Navbar-subdiv-spacer{
padding-bottom:15px ;

}
.Navbar-subdiv-text{
  font-size: larger;
  font-weight: 500;
  color: #b3b3b3;
  transition: color .3s;
  text-align: center;

}
.buttons-div{
  text-align: center;
}
a{
  margin-top: 25px;
  font-style: none;
  text-decoration: none;
  display: flex;
}

.fa{
  margin-left: 25px;
  align-self: center;
  color: #b3b3b3;
  transition: color .3s;

}
.ml-15{
  margin-left: 15px;
}
.Navbar-subdiv-cat a {
  margin-bottom: 25px;
}

.Navbar-subdiv-undertext{
 
  font-weight: 500;
  color: #b3b3b3;
  font-size: 16px;
  transition: color .3s;
  margin-top: 15px;
}
.hover:hover > i {
  color: white;
  text-shadow: 0 0 0.1em rgba(51, 51, 51, 0.5), 0 0 0.15em ;
}

.hover:hover > p {
  color: white;
  
}

.Navbar-subdiv-objects{
  margin-top: 25px;
  text-align: center;

}
.Navbar-subdiv-objects-text{
  margin-left: 50px;
  margin-top: 10px;
  font-size: medium;
  font-weight: 500;
  color: #b3b3b3;
}
.starwars-img-changer{
  margin-top: 50px;
}

.size-buttons-1{
  background-color: #1e1e1e;
  border: none;
  color: white;
  padding: 20px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 80px;
  margin-right: 15px;
  cursor: pointer;

}
.size-buttons-1:hover{
  background-color: #464646;
  transition: .5s;
}
.size-buttons-2{
  background-color: #1e1e1e;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 80px;
  margin-right: 15px;
  cursor: pointer;

}
.size-buttons-2:hover{
  background-color: #464646;
  transition: .5s;

}

.Navbar-size-text{
  font-size: larger;
  font-weight: 500;
  color: #b3b3b3;
  transition: color .3s;

}

/*--------------------------------------------Classes que manipulam a divisão direita da tela (Na Resolução acima de um tablet)------*/


.right-bar{
  width: -webkit-fill-available;
  height: 100vh;
}
.misc-bar{
  height: 75px;
  background: #000;
}

.card-section{
  overflow-y: scroll;
  height: 85%;
  box-shadow: inset 0 0 10px #000000;
  perspective: 1000px;
}
.card-columns{
  display: grid;
  column-gap: 50px;
  width: -webkit-fill-available;
}


/*--------------------------------------------Media Querrys que controlam as mudanças que ocorrem em relação ao crescimento da largura da tela--------*/


@media (min-width: 769px) {
.Navbar-div{
  display: flex;
}
.sections-spliter{
  display: flex;
}
.buttons-div{
  text-align: inherit;

}
}


@media (min-width: 1000px) {
  .card-columns{
  grid-template-columns: auto auto;
  }
  
 }
 

@media (min-width: 1350px) {
  
  .card-columns{
  grid-template-columns: auto auto auto;
  }
  .buttons-div{
  display: flex;
  }
 }

 @media (min-width: 1600px) {
  .card-columns{
  grid-template-columns: auto auto auto auto;
  }
 }


  