body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e1e;

}
.index-div {
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  height: -webkit-fill-available;
}

header{
  height: -webkit-fill-available;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: hidden!important; 
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.container{
  margin-left: 2rem;
  margin-right: 2rem;
  }
  
  .flexer{
    display: flex;
  }
  
  .justify-cont-center{
    justify-content: center;
  }
